<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight Tickets</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400i|Montserrat:300,400,500'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/icomoon.css'>
</head>
<body>
<div class="background">
  <div class="container">
    <h2 class="text-center" style="margin-top: 20px; color: #333;">Résultats des vols</h2>
    <p class="text-center" *ngIf="loading">Chargement des résultats...</p>
    <div *ngIf="!loading && errorMessage" class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>
    <div *ngIf="!loading && flightResults.length === 0" class="text-center">
      <p>Aucun vol trouvé pour les critères spécifiés.</p>
    </div>

    <!-- Liste des résultats -->
    <div class="row" *ngIf="!loading && flightResults.length > 0">
      <div
        class="col-xs-12 col-sm-4"
        *ngFor="let flight of flightResults; index as i"
      >
        <div class="ticket dark">
          <div
            class="ticket-head text-center"
            style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_15.png)"
          >
            <div class="layer"></div>
            <div class="from-to">
              {{ flight.villeDepart.toUpperCase() }}
              <span class="icon icon-airplane icon-white"></span>
              {{ flight.villeDestination.toUpperCase() }}
            </div>
          </div>
          <div class="ticket-body">
            <div class="passenger">
              <h4>{{ flight.companyName || 'Compagnie Inconnue' }}</h4>
            </div>
            <div class="flight-info row">
              <div class="col-xs-6">
                <p>Vol</p>
                <h4>{{ flight.nameVol }}</h4>
              </div>
              <div class="col-xs-6">
                <p>Prix</p>
                <h4>{{ flight.prix }}€</h4>
              </div>
            </div>
            <div class="flight-date">
              {{ flight.dateDepart | date: 'MMM-dd-yyyy' }}
              ({{ flight.heureDepart | date: 'shortTime' }} à {{ flight.heureArrivee | date: 'shortTime' }})
            </div>
            <br />
            <div class="form-row-last">
              <button class="register" (click)="selectFlight(flight)">
                Sélectionner
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
